navbar, nav {
  position: fixed;
  height: 2%;
  text-align: center;
  display: block;
  font-family: Verdana, sans-serif;
  font-size: 1em;
  letter-spacing: 0.025em;
  text-transform: uppercase;
}

navbar li a:hover {
  color: rgb(200,025,252);
}

h1 	{
  font-family: Verdana, sans-serif;
  padding-top: 20px;
}

p 	{
  font-family: Verdana, sans-serif;
  list-style-type: square;
}

body {
  background-color: rgb(108, 100, 100);
  color: rgb(255, 255, 255);
  padding-top: 2%;
  padding-bottom: 2%;
  position: relative;
}

img { 
  max-width: 100%; 
  height: auto; 
  position: relative;
}

footer {
  padding: 0.6% 0% 0.5% 0%;
  background-color: black;
  position: fixed;
  bottom: 0%;
  width: 100%;
  height: 5%;
  text-align: center;
  display: block;
  font-family: Verdana, sans-serif;
  font-size: 1em;
  letter-spacing: 0.025em;
  text-transform: uppercase;
  z-index: 2;
}