<!DOCTYPE html>
<html>
  <head>
    <title>Zytola</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <nav>
    <ul> 
      <li> Home </li>
      <li> About </li>
      <li> Contact </li>
    </ul>
 </nav>

  <body>
    <%= yield %>
  </body>

<footer>
	&copy; 2017 Zytola Ltd
</footer>

</html